.Rproj.user
.Rhistory
.RData
.Ruserdata

#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx
*.Rproj

#Nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*

1. Data/*
Data/*
3. Tableau/*
Tableau/*
4. Outputs/*
Dataout/*

#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf
*.prj
*.shx
