.Rproj.user
.Rhistory
.RData
.Ruserdata
#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
1. Data/*

1. Data/*
3. Tableau/*
4. Outputs/*

#no data
*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*